doctype html 
html 
    head 
        title Rauhl Dance Academy
        block style 
    body
        nav#navbar 
            ul 
                div#logo
                    img(src="https://clipart-library.com/images_k/ballet-dancers-silhouette/ballet-dancers-silhouette-19.png ", alt="")
                    |      RDA
                li #[a(href = "/") Home]
                li #[a(href = "/about") About]
                li #[a(href = "/services") Services]
                li #[a(href = "/classinfo") Class Info]
                li #[a(href = "/contact") Contact Us]
        block content 
        footer#footer 
            | Copyright @ 2019 rahuldanceacademy.com | All rights reserved
